<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- CSS Reset -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
        
        <!-- Milligram CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">
    <title>Document</title>
</head>
<body>
    <div class="container">

        <h1><%=product.name%></h1>
        <img src="<%=product.img%>">
        <h4>About this product: </br> <%=product.description%></h4>
        <h3>Price: <%=product.price%></h3>
        <h3>Quantity: <%=product.qty%></h3>
    </div>
    <button onclick="location.href='http://localhost:3000/products/<%=product.id%>/edit'" type="button">
        Edit this Product</button>
    <button onclick="location.href='http://localhost:3000/products'" type="button">
        Return to Products Page</button>
    <form action="/products/<%=product._id%>?_method=DELETE" method="POST">
        <button onclick="location.href='http://localhost:3000/products/<%=product.id%>'" type="submit">
            Delete this Product</button>
    </form>
</body>
</html>